*{
    margin: 0px ;
    padding: 0px ;
}
/* navigation styles */
.nav_container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #D5D2D2;
}
.menu_items{
    display: flex; 
}
.menu_item{
   list-style: none;
   margin-right: 40px;
   font-size: 30px;
   font-weight: 300;
}
/* banner styles */
.banner_container{
    height: 100vh;
    align-items: center;
    background-image: url("./asset/image/background.jpg");
    background-repeat: no-repeat ;
    text-align:center ;
    justify-content: center;
    display: flex;
}
.banner_title{
font-size: 90px;
}
.primary{
    color:#e90a0a ;
}
.banner_description{
    font-size: 20px;
    color: aliceblue;
    text-align:center ;
    width: 50%;
    margin: auto;
}
/* button styles */
.btn{
    padding: 10px 30px;
    font-size:20px; 
    margin-right: 10px;
    border: none;
}
.btn_discover{
    background-color: #e90a0a;
    color: antiquewhite;
    }
.btn_hire,.btn_service {
    background-color:aliceblue ;
    color: black;
    }
    /* services styles */
    .service_container{
        width: 100%;
        height: 100vh ;
        background-image: url("./asset/image/footer-bg.png");
        /* linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0,9)); */
        background-color: rgba(0, 0, 0, 0.889);
    background-blend-mode:overlay ;
    padding:20px ;
    display: flex;
       
    }
    .services_left{
        width: 50%;
        height: 100vh ;
        color: aliceblue;
    }
    .services_title{
          font-size: 25px;
    }
    .btn_service,.author_button{
            border-radius: 20px;
            
        /* font-size: 20px;  */
        margin-left: 0px;
        /* border-radius: 30px; */
        
       
    }
    .services_description{
        margin-bottom: 15px;
        font-size:20px
        
        
    }
    .author_details{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }
    .author_image_intro{
        display: flex;
        /* text-align: center; */
        align-items: center;
        padding: 30px 100px 10px 10px;
        gap: 10px;
        border-right: 1px solid red ;
        height: 10vh;
    }
    .author_intro{
        
        /* justify-content: center; */
        
    }.author_image{
        border-radius: 100px;
        height:10vh ;
    }
    .author_button{
        

    }
    /* services right styles */
    .services_up ,.services_down {
        display: flex;
        width: 100%;
        height: 25vh;
        margin-bottom :20px ;
        gap: 50px;
        
        background-color:aliceblue ;
    }
    .services_up_1 , .services_up_2 , .services_down_1 , .services_down_2{
        padding: 20px;
        width: 50%;
        height: 5vh;
        text-align: center;
        /* border: 1px solid black; */
    }
    .service_logo{
        width: 50%;
        height: 20vh;
    }
    /* .services_down{ */
        display: flex;
        width: 100%;
        height: 50vh;
    }